<a href="/skills">Skill Index</a>
<h1><%=@skills.title %></h1>
<img class ="index-image" src="<%=@skills.image%>" alt="...">
<h3><%= @skills.description %></h3>
<a class="btn btn-primary btn-lg" href="/skills/<%=@skills.id%>/edit">Edit Skill</a>
<a class="btn btn-primary btn-lg" href="/skills/<%=@skills.id%>/delete">Delete Skill</a>
